@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 60.5%;
  scroll-behavior: smooth;
}

body {
  text-align: center;
  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6,h7,h8,h9,h10 {
  font-size: 3rem;
  font-weight: 700;
}

p, a {
  font-size: 3rem;
}

a {
  text-decoration: none;
}




header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

@media (max-width: 48em) {
  header {
    flex-direction: column;
    padding: .5rem;
  }
  p, a {
    font-size: 2rem;
  }
 
}
.nav  {
  border-radius: 0px;
  background-color: none;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 0px;
  width: 200px;
  transition: all transform 0.3s ease-in-out;
  cursor: pointer;
  margin: 5px;
}
.nav a {
  color: white;
  text-decoration: none;
  margin-right: 10px;

}

.nav span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.nav span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.nav:hover span {
  padding-right: 25px;
}

.nav:hover span:after {
  opacity: 1;
  right: 0;
}

.metallic-text {
  background: -webkit-linear-gradient(-30deg, #000000, #007c7c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.metallic-text:hover{
  background: -webkit-linear-gradient(left, #757575, #09c247);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.artsy-text {
  background: -webkit-linear-gradient(-30deg, #7af2ff, #00498e, #7b66bd, #ff5392);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.artsy-text:hover {
  background: -webkit-linear-gradient(-30deg, #88f3f3, #3685d0, #a190d6, #e892b1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


iframe{
  width: 80rem; 
  height: 50rem;
}

@media (max-width: 78em){
  iframe{
  width: 60rem; 
  height: 30rem;
}
}

@media (max-width: 40em){
  iframe{
  width: 30rem; 
  height: 25rem;
}
}

.container {
  background-image: url("assets/background.png");
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0rem;
  align-items: center;
  font-weight: bold;
  font-size: 100px;
  text-align: left;
  padding-top: 4rem;
  height: auto;
}

@media (max-width: 78em) {
  .container {
    flex-direction: column;
    height: auto;
  }
  #left-text, #right-text {
    font-size: 4rem;
    padding: 1rem;
  }

  #left-small, #right-small {
    font-size: 1rem;
  }

  img#center-image {
    width: 10rem;
  }
  .coll{
    flex-direction: column
  }
}



#left-text {
  font-size: 7rem;
  padding-right: 10rem;
  padding-left: 5rem;
}
#right-text {
  font-size: 7rem;
  padding-left: 5rem;
}
#left-small{
  font-size: 2rem;
}
#right-small{
  font-size: 2rem;
}

img#center-image {
  width: 30rem;
  height: auto;
  padding: none;

  transition: opacity .5s;
}

img#center-image:hover {
  transform: scale(1.01);

}

.figure {
  position: relative;
   max-width: 100%;
 }

.figure img.image-hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0px;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
}
.figure:hover img.image-hover {
  opacity: 1;
}
.figure:hover img.image-main{
  opacity: 0;
  transition: opacity .5s;
}


.about {
  background-image: url("assets/background2.png");
  background-size: 300%;
  color: rgb(255, 255, 255);
  display: column;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  align-items: center;
  font-weight: bold;
  font-size: 100px;
  text-align: left;
  padding-top: 1rem;
}

#title {
  font-size: 6rem;
  text-align: center;
}
img#left-image {
  width: 30rem;
  height: auto;
  padding-left: 2rem;
  transition: transform 0.4s ease-in-out;
}

img#left-image:hover {
  transform: scale(1.01);
}



.interview{
  background-image: url("assets/background.png");
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 100px;
  text-align: left;
  padding: 5rem;

}

.coll{
  display: flex; 
  flex-direction: row;
  align-items: center;
}

#video{
  padding-left: 10rem; 
  padding-top: 2rem;
}

@media (max-width: 78em) {
.coll{
  display: flex; 
  flex-direction: column;
  align-items: center;
}
#video{
  padding-left: 0rem; 
}
}


.doc {
   height: 40rem;
  width: 90rem;
}

@media (max-width: 78em) {
  .doc{
       height: 40rem;
  width: 50rem;
  }

}
@media (max-width: 40em) {
  .doc{
       height: 30rem;
  width: 30rem;
  }

}
.portfolio {

  background-image: url("assets/background2.png");
  background-size: 180%;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5rem;
  text-align: left;
  padding-top: 5rem;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 5rem;
  padding-right: 20rem;
}

.project-video{
  height: 25rem;
}



@media (max-width: 78em) {
  .project{
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding-right: 10rem;
  }
  .project-details {
    margin-top: 20px;
    text-align: left;
    padding-bottom: 2rem;
    
  }
.project-video{
  height: 30rem;
}

  }


@media (max-width: 40em) {

  .portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
  padding-top: 5rem;
}
  .project{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem;
  text-align: left;
  padding-top: 5rem;
  padding-right: 0rem;
  }
  .project-details {
    margin-top: 20px;
    text-align: left;
    padding-bottom: 1rem;
    padding:0rem;
  }
  .project-details#left-project{
    padding-right: 0rem; 
    padding-left: 0rem;
  }
  .project-video{
  height: 20rem;
}
  
  }



.project-details {
  margin-top: 20px;
  text-align: left;
  padding-left: 20rem;
}

.project-details h3 {
  margin-bottom: 5px;
  font-size: 5rem;
}

.project-details p {
  margin-bottom: 10px;
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #bfdeff;
}


.contact-footer {
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10rem;
}



@media (max-width: 78em) {
  .contact-footer{
    display: flex; 
    flex-direction: column;
    align-items: center;
  }
  }

.contact-details h4 {
  margin-bottom: 10px;
  font-size: 5rem;
}

.contact-details p,a{
  margin: 0;
  font-size: 3rem;
  color: rgb(219, 219, 219);
}
.social-icons  {
  display: flex;
  padding: 3rem;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  font-size: 24px;
  transition: 0.5s;
}
.social-icons a:hover {
  transform: scale(1.1);
}
