@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;

}

::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 60.5%;
  scroll-behavior: smooth;
  width: 100%;
}

body {
  text-align: center;
  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6,h7,h8,h9,h10 {
  font-size: 3rem;
  font-weight: 700;
}

p, a {
  font-size: 3rem;
}

a {
  text-decoration: none;
}

header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

@media (max-width: 48em) {  
  header {
    flex-direction: column;
    padding: 0rem;
    display:none;
  }
  .nav {
    display: none;
  }
}


.nav  {
  border-radius: 0px;
  background-color: none;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 0px;
  width: 100%;
  transition: all transform 0.3s ease-in-out;
  cursor: pointer;
 
}
.nav a {
  color: white;
  text-decoration: none;
  margin-right: 10px;

}

.nav span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.nav span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.nav:hover span {
  padding-right: 25px;
}

.nav:hover span:after {
  opacity: 1;
  right: 0;
}

.metallic-text {
  background: -webkit-linear-gradient(-30deg, #000000, #007c7c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.metallic-text:hover{
  background: -webkit-linear-gradient(left, #757575, #09c247);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.artsy-text {
  background: -webkit-linear-gradient(-30deg, #7af2ff, #00498e, #7b66bd, #ff5392);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.artsy-text:hover {
  background: -webkit-linear-gradient(-30deg, #88f3f3, #3685d0, #a190d6, #e892b1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fartsy-text {
  background: -webkit-linear-gradient(-30deg, #7af2ff, #5df56f, #7b66bd, #ff5392);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fartsy-text:hover {
  background: -webkit-linear-gradient(-30deg, #88f3f3, #a9f799, #a190d6, #e892b1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.container {
  background-image: url("assets/background.png");
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0rem;
  align-items: center;
  font-weight: bold;
  font-size: 100px;
  text-align: left;
  padding-top: 4rem;
  height: 90vh;
}

@media (max-width: 78em) {
  .container {
    flex-direction: column;
    height: auto;
  }
  #left-text, #right-text {
    font-size: 4rem;
    padding: 1rem;
  }

  #left-small, #right-small {
    font-size: 1rem;
  }

  img#center-image {
    width: 10rem;
  }
  .coll{
    flex-direction: column
  }
}



#left-text {
  font-size: 7rem;
  padding-right: 10rem;
  padding-left: 5rem;
  transition: 0.5s;
  scale: 1;
}
#left-text:hover{
  transform: scale(1.01);
}
#right-text:hover{
  transform: scale(1.01);
}
#right-text {
  font-size: 7rem;
  padding-left: 5rem;
  transition: 0.5s;
  scale: 1;
}
#left-small{
  font-size: 2rem;
}
#right-small{
  font-size: 2rem;
}

img#center-image {
  
  width: 30rem;
  height: auto;
  padding: none;

  transition: opacity .5s;
}

img#center-image:hover {
  transform: scale(1.01);

}

.figure {
  position: relative;
   max-width: 100%;
 }

.figure img.image-hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0px;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
}
.figure:hover img.image-hover {
  opacity: 1;
}
.figure:hover img.image-main{
  opacity: 0;
  transition: opacity .5s;
}


.about {
  background: url("assets/background2.png");
  
  background-size: 550rem;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem;
  align-items: center;
  font-weight: bold;
  font-size: 100px;
  text-align: left;
  padding-top: 1rem;

}

@media (max-width: 48rem) {
  .about{   
    flex-direction: column;
  }
  }

#title {
  font-size: 6rem;
  text-align: center;
}
img#left-image {
  width: 30rem;
  height: auto;
  padding-left: 2rem;
  transition: transform 0.4s ease-in-out;
}

img#left-image:hover {
  transform: scale(1.01);
}


.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #bfdeff;
}


.contact-footer {
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10rem;
}



@media (max-width: 78em) {
  .contact-footer{
    display: flex; 
    flex-direction: column;
    align-items: center;
  }
  }

.contact-details h4 {
  margin-bottom: 10px;
  font-size: 5rem;
}

.contact-details p,a{
  margin: 0;
  font-size: 3rem;
  color: rgb(219, 219, 219);
}
.social-icons  {
  display: flex;
  padding: 3rem;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  font-size: 24px;
  transition: 0.5s;
}
.social-icons a:hover {
  transform: scale(1.1);
}

ul {
  background: url("assets/background.png");
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
@media (max-width: 48rem) {
  ul{
    
    display:  none;
    
  }
  }

li {
  padding: 0;
}



ul:is(:hover, :focus-within) img {
  opacity: calc(0.1 + (var(--active-lerp, 0) * 0.9));
  filter: grayscale(calc(1 - var(--active-lerp, 0)));
}
 img{
 
  object-fit: cover;
  transition: all 0.2s ease;
}

:root {
  --lerp-0: 1;
  --lerp-1: 0.5787037;
  --lerp-2: 0.2962963;
  --lerp-3: 0.125;
  --lerp-4: 0.037037;
  --lerp-5: 0.0046296;
  --lerp-6: 0;
}

li {
  flex: calc(0.1 + (var(--active-lerp, 0) * 1));
  transition: flex 0.2s ease;
}

li:is(:hover, :focus-within) {
  --active-lerp: var(--lerp-0);
  z-index: 7;
}
li:has( + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within) + li {
  --active-lerp: var(--lerp-1);
  z-index: 6;
}
li:has( + li + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within) + li + li {
  --active-lerp: var(--lerp-2);
  z-index: 5;
}
li:has( + li + li + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within) + li + li + li {
  --active-lerp: var(--lerp-3);
  z-index: 4;
}
li:has( + li + li + li + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within) + li + li + li + li {
  --active-lerp: var(--lerp-4);
  z-index: 3;
}
li:has( + li + li + li + li + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within) + li + li + li + li + li {
  --active-lerp: var(--lerp-5);
  z-index: 2;
}
li:has( + li + li + li + li + li + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within) + li + li + li + li + li + li {
  --active-lerp: var(--lerp-6);
  z-index: 1;
}

#gallery {
  background: url("assets/background.png");
  background-size: 200%;
  line-height:0;
  -webkit-column-count:5; /* split it into 5 columns */
  -webkit-column-gap:5px; /* give it a 5px gap between columns */
  -moz-column-count:5;
  -moz-column-gap:5px;
  column-count:5;
  column-gap:5px;
  padding: 1rem;
  display: none;
}
#gallery img {
  width: 100% !important;
  height: auto !important;
  margin-bottom:5px; /* to match column gap */
}


@media (max-width: 48rem) {
  #gallery {
   -moz-column-count:    2;
   -webkit-column-count: 2;
   column-count:         2;
    display: block;
  }
}

.result{
  padding: 0 !important;
}
